body{
	background-color: #F7F7F7;
	font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #4A4A4A;
}

$small:  "only screen and (max-width:640px)";
$middle: "only screen and (min-width:641px)";




.main_area{
	
border: 1px solid #C7C7C7;
border-radius: 5px;
padding: 20px;
text-align: center;
background: white;
box-shadow: 0 0 1px 0 #BBB inset;

	h1{
		margin:0;
		margin-bottom: 30px;
	}
}
.submit_area{
	margin-bottom: 30px;
	input[type="text"]{
		padding: 7px 5px;
		display: block;
		width: 97%;
		margin-bottom: 20px;
		border: 1px solid #C5C5C5;
	}
	input[type="submit"]{
		background-color: rgb(32, 170, 115);
		border: none;
		box-shadow: 0 5px 0 0 #069059;
		border-radius: 5px;
		padding: 10px 50px;
		color: #fff;
		position: relative;
		&:hover{
			box-shadow: 0 2px 0 0 #069059;
			top:3px;
		}
		&:active{
			box-shadow: 0 0px 0 0 ;
			top:5px;
		}
		&:disabled{
			box-shadow: 0 0px 0 0;
			top:5px;
			background-color: #069059;
		}
		
	}
}
#result{
	position: relative;
}
table{
	width: 100%;
	table-layout: fixed;
	thead {
		border-bottom: 2px solid #E3E7EA;
	}
	tr{
		border-bottom: 1px solid #e7eaec;
		
		&:nth-child(2n){
			th,td{
				background-color: #f9f9f9;
			}
			
		}
	}
	
	th{
		padding: 15px;
	}
}
#loading{
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.56);
	img{
		margin-top: 140px;
	}
}
td span {
font-family: "roboto";
font-size: 35px;
font-weight: 100;
padding-right: 4px;
}
.attention {
margin-top: 30px;
font-size: 14px;
background-color: rgb(242, 222, 222);
padding: 17px 3%;
color: rgb(169, 68, 66);
font-weight: bold;
line-height: 170%;
border-radius: 3px;
}
.intro{
	margin-top: 20px;
	
	a{
		text-decoration: none;
	} 
	i{
		font-size: 20px;
		padding-right: 6px;
	}
}

.sample_url {
font-size: 12px;
}


@media #{$small} {
    .main_area{
		margin: 2%;
	}
	td span {
		
		font-size: 15px;
		
		font-weight: 900;
	}
}

@media #{$middle} {
    .main_area{
		margin: auto;
		margin-top: 80px;
		margin-bottom: 80px;
		width: 500px;

	}
}